<br>
<br>
<div class="container">

    <form action="/" method="POST">

        <h1>Registration Web-app</h1>
        <div class="errorMsg">
            <h2>{{messages.error}}</h2>


        </div>

        <div class="goodMsg">
            <h3>{{messages.info}}</h3>
        </div>

        <input type="text" class="reg-textbox" maxlength="9" name="enterReg" placeholder="enter number plate here">
        <button class="addBtn">Add</button>

        <div>
            <br>
            <br>

            <label for="town">Select Town</label>
            <select name="" class="drop-down">
                <option value="kraai" class="town">Kraaifontein</option>
                <option value="blv" class="town">Bellville</option>
                <option value="stellies" class="town">Stellenboch</option>
                <option value="cpt" class="town">Cape Town</option>
            </select>
        </div>
    </form>
    <form action="filters" method="post">
        <button type="button" name="button" class="filterButton"><a href="/filters">Filters</a></button>
    </form>
    <br>
    <button class="restBtn" type="button" name="langBtn"><a href="/reset">Reset</a></button>

    <h2>Registration Numbers</h2>
    <div class="reg">
        <ul>
        {{#each town}}
            <li>
                {{this.reg_number}}
            </li>
        {{/each}}
        </ul>

    </div>
</div>



{{message}}