<br>
<br>
<div class="container">

    <form action="/" method="POST">

        <h1>Registration Web-app</h1>
        <div class="errorMsg">
            <h2>{{messages.error}}</h2>


        </div>

        <div class="goodMsg">
            <h2>{{messages.info}}</h2>
            {{messages.clear}}
        </div>
        <p>Please enter a registration number from the following places: <br> Kraaifontein<b> (e.g CF 447-145)</b>, Bellville<b> (e.g CY 485 569)</b>, Stellenboch<b> (e.g CL 789546)</b> or
                Cape Town<b> (e.g CA 896 256)</b></p>
        <input type="text" class="reg-textbox" maxlength="10" name="enterReg" placeholder="enter number plate here">
        <button class="addBtn">Submit</button>

        <div>
    </form>

    <br>
    <br>
    <form action="/filter" method="get">

        <label for="town">Filter Town:</label>
        <select name="towns" class="drop-down">
            <option value="all" class="town"> Show All</option>
            <option value="1" class="town">Kraaifontein</option>
            <option value="2" class="town">Bellville</option>
            <option value="3" class="town">Stellenboch</option>
            <option value="4" class="town">Cape Town</option>

        </select>
</div>
<button type="submit" name="filterButton" class="reg-filter">Filter</button>
</form>

<button class="restBtn" type="button" name="langBtn"><a href="/reset">Reset</a></button>

<h2>Registration Numbers</h2>

<div class="reg">
    {{#each town}}

        <li>
            {{this.reg_number}}

        </li>


    {{/each}}

</div>
<br>
</div>