@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
body {
  background-color: whitesmoke;
  text-align: center;
}

.errorMsg{
color: red;
}

.goodMsg{
  color: green;
}
.container input {
  outline: none;
  border-radius: 8px;
  border: none;
  padding: 5px;
  margin-top: 2px;
  background-color: burlywood;
}
.container button {
  padding: 5px;
  outline: none;
  cursor: pointer;
  background-color: burlywood;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
}
.container select {
  background-color: burlywood;
  outline: none;
  padding: 8px;
  margin-top: 15px;
  border: none;
}

.reg{
float: none;

}

li{
  display: inline-table;
  list-style: none;
background-color: yellow;
border: 0.1em solid;
border-radius: 0.25em;
padding: 1em;
width: 7em;
font-weight: bold;
align-items: center;
align-content: center;
}

ul{
display: inline;
}

a{
  text-decoration: none;
  color: black;
}

p{
  font-family: 'Amaranth';font-size: 15px;
  color: yellow;
}

h1{
  font-family: 'Coiny';font-size: 28px;
}

h2{
      font-family: 'Coiny';font-size: 22px

}

label{
  font-family: 'Coiny';font-size: 18px;

}