@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
body {
  background-color: rgb(233, 219, 219);
  text-align: center;
}

.errorMsg{
color: red;
}

.goodMsg{
  color: green;
}
.container input {
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 2px;
}
.container button {
  padding: 5px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}
.container select {
  color: #314152;
  background-color: #fff;
  outline: none;
  padding: 5px;
  margin-top: 15px;
  border: none;
}
.container reg {
  clear: both;
  color: #314152;
  border: 2px solid #fff;
  text-align: center;
  width: inherit;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: silver;
  list-style-type: none;
}

/* 
.reg {

	background-color: yellow;
	border: 0.1em solid;
	border-radius: 0.25em;
	padding: 1em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;

} */
li{
  display: block;
  list-style: none;
background-color: rgb(204, 204, 44);
border: 0.1em solid;
border-radius: 0.25em;
padding: 1em;
margin: 0.5em;
width: 7em;
font-weight: bold;
}

p{
  font-family: 'Amaranth';font-size: 15px;
  color: brown;
}

h1{
  font-family: 'Coiny';font-size: 28px;
}

h2{
      font-family: 'Coiny';font-size: 22px;

}

label{
  font-family: 'Coiny';font-size: 18px;

}